// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: image-url("background.jpeg");
}

.facebook-login{
	background: image-url("btn-fb.png");
	width: 44px;
	height: 17px;
	display: inline-block;
	text-indent: -9999px;
}

.facebook-login:hover, .facebook-login:focus{
	background-position: 0 -17px;
}